<!doctype html>
<html lang="en">
    <head>
    	<sly data-sly-use.userDetails="com.customlogin.core.models.TokenToUserProfileModel" />
    	<!--/*Initializes the Experience Manager authoring UI*/-->
		<sly data-sly-include="/libs/wcm/core/components/init/init.jsp" data-sly-unwrap/>
    	<sly data-sly-test.pageTitle="${currentPage.pageTitle || 'Brand Name' }"></sly>
    	<title>${pageTitle}</title>
    	<meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
        <meta name="title" content="${pageTitle}"/>
    </head>
    <body>
        <sly data-sly-include="main.html" data-sly-unwrap/>
    </body>
</html>