<form id="login-form" >
    <p class="hint-text">Sign in with your social media account</p>
    <div class="form-group social-btn clearfix">
        <a href="#" class="btn btn-primary pull-left"><i class="fa fa-facebook"></i> Facebook</a>
        <a href="#" class="btn btn-info pull-right"><i class="fa fa-twitter"></i> Twitter</a>
    </div>
    <div class="or-seperator"><b>or</b></div>
    <div class="form-group">
    	<input type="text" class="form-control" placeholder="Username" id="username" required="required">
    </div>
    <div class="form-group">
    	<input type="password" class="form-control" placeholder="Password" id="password" required="required">
    </div>
    <input type="submit" class="btn btn-primary btn-block" value="Login">
    <div class="form-footer">
    	<a href="#">Forgot Your password?</a>
    </div>
</form>
      <script type="text/javascript">
         $(document).ready(function() {
             $("#login-form").submit(function(e) {
                 e.preventDefault();
                 e.stopPropagation();
                 loginViaAjax();
             });         
             function loginViaAjax() {        
                 var serviceUrl = "/bin/customlogin/userManagement.LOGIN.json";
                 $.ajax({
						type: "POST",
						url: serviceUrl,							
						data:{username:$('#username').val().trim(),password:$('#password').val().trim()},
						success: function(response) {
							console.log(response);
							var url= window.location.href;
							var status = response.loginstatus;
							if(status==="success"){
							location.reload();
							}
							else{
								 $('#msg').empty();
								 $('<p>Username or Password is wrong </p>').appendTo('#msg');
							}
						},
						error: function(e) {
                     	alert("error one")
							console.log("ERROR: ", e);
							display(e);
						},
					});
         
             }
         });
      </script>