<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<form id="signup-form" class="signup">
         <input type="text" name ="username" placeholder="username" id="username"><br>
         <input type="password" name="password"  placeholder="password" id="password"> <br>
		 <input type="text" name ="email" placeholder="email" id="email"><br>
         <input type="submit" class "subButton" value="Sign Up">
         <div id="msg"></div>
    </form>
      <script type="text/javascript">
         $(document).ready(function() {
             $("#signup-form").submit(function(e) {
                 e.preventDefault();
                 e.stopPropagation();
                 signUpViaAjax();
             });
         
             function signUpViaAjax() {        
                 var serviceUrl = "/bin/customlogin/userManagement.SIGNUP.json";
				 var userName = $('#username').val().trim();
                 $.ajax({
						type: "POST",
						url: serviceUrl,							
						data:{userName:$('#username').val().trim(),password:$('#password').val().trim(),email:$('#email').val().trim()},
						success: function(response) {
							console.log(response);
							var url= window.location.href;
							var log_details = JSON.parse(response.signUpResponse);
							var status = log_details.status;
							console.log(status);
							if(status==="Success"){
							var redirectUrl = "/content/customlogin/en/confirmuser.html?username="+userName;
							window.location = redirectUrl;
							}
							else{
								 $('#msg').empty();
								 $('<p>Username or Password is wrong </p>').appendTo('#msg');
							}
						},
						error: function(e) {
                     	alert("error one")
							console.log("ERROR: ", e);
							display(e);
						},
					});
         
             }
         });
      </script>
      <style>
         .signup {
         height: auto;
         width: 300px;
         margin: auto;
         border: 1px #CCC solid;
         padding: 10px;
         }
         .signup input {
         padding: 5px;
         margin: 5px
         }
         fieldset {
         border-width: 0px;
         }
      </style>