<style>
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}
.row {margin: 0 -5px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
.card p {
font-size: 18px;
}
.profile-card h2{
text-align: center;
padding: 16px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
</style>
<div class="profile-card">
	<sly data-sly-use.userDetails="com.customlogin.core.models.TokenToUserProfileModel" />
	<h2>Your Profile</h2>
	<div class="row">
	  <div class="column">
	    <div class="card">
	      <h3>Name:</h3>
	      <p>${userDetails.userDetails.firstName} ${userDetails.userDetails.lastName} </p>
	    </div>
	  </div>
	
	  <div class="column">
	    <div class="card">
	      <h3>Address:</h3>
	      <p>${userDetails.userDetails.address || "Fill up your Address in Update Profile Section"}</p>
	    </div>
	  </div>
	  
	  <div class="column">
	    <div class="card">
	      <h3>Email:</h3>
	      <p>${userDetails.userDetails.email}</p>
	    </div>
	  </div>
	  
	  <div class="column">
	    <div class="card">
	      <h3>Intrest:</h3>
	      <p>${userDetails.userDetails.intrest || "Fill Up your intrest in Update Profile Section" }</p>
	    </div>
	  </div>
	</div>
</div>