<form id="logout-form" >
	<input type="button" class="btn btn-primary btn-block" value="logout" onclick = "del_cookie()">
</form>
<script>

function del_cookie() {        
    var serviceUrl = "/bin/customlogin/userManagement.LOGOUT.json";
    $.ajax({
			type: "POST",
			url: serviceUrl,							
			success: function(response) {
				console.log(response);
				var status = response.logoutStatus;
				if(status==="success"){
				location.reload();
				}
				else{
					 $('#msg').empty();
					 $('<p>Username or Password is wrong </p>').appendTo('#msg');
				}
			},
			error: function(e) {
        	alert("error one")
				console.log("ERROR: ", e);
				display(e);
			},
		});

}
	
</script>